footer {
  background-color: #171615;
  color: #eee;
  font-size: 0.7em;
  margin: 0 auto;
  padding: 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}
