$sunnyColor: #fbd97d;
$rainyColor: #6ff7e7;
$gloomyColor: #2e3341;

.forecast {
  background-color: $rainyColor;
  height: 100vh;

  & .header__sec1 {
    display: flex;

    * {
      margin-right: 20px;
    }
  }

  & .header__sec2 {
    display: flex;
    margin: 24px auto;
    width: 100%;
    transition: all 0.5s ease-out;

    & * {
      border: 0;
      padding: 8px 24px;
    }

    & input {
      width: 70%;

      &:focus {
        outline: none;
      }
    }

    & button {
      width: 30%;
      background-color: #bcfff7;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  & .apple-wrapper {
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    left: 20px;
    text-align: center;
    transition: all 0.5s ease-out;

    & p {
      font-size: 0.7em;
    }

    &:hover {
      scale: 1.2;
    }
  }

  & footer {
    background-color: #bcfff7;
    font-size: 0.7em;
    margin: 0 auto;
    padding: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
  }

  & .home__bg {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 200px;
    width: 70%;
  }
}

.weather-container {
  background-color: #bcfff7;
  border-radius: 5px;
  margin: 0 auto;
  min-height: 150px;
  padding: 12px;
  width: 80%;

  & * {
    padding-bottom: 3px;
  }

  & h3 {
    font-size: 0.9em;
  }

  & p {
    font-size: 0.8em;
  }

  & time {
    font-size: 0.7em;
    color: #a0a0a0;
  }
}
