.fallback-container {
  padding-top: 24px;
  text-align: center;
  width: 100%;

  & img {
    margin: 0 auto;
    max-width: 200px;
    width: 80%;
  }

  & p {
    padding-top: 24px;
  }

  & button {
    background-color: #ff8ccc;
    border: solid 3px #eee;
    border-radius: 10px;
    font-size: 0.7em;
    margin-top: 12px;
    padding: 8px 24px;

    &:hover {
      opacity: 0.8;
    }
  }
}
