@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
$baseFontSize: 15px;
$textColor: #2e3341;

/************************
 * @global styling
 ************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $baseFontSize;
}
body {
  color: $textColor;
  font-size: $baseFontSize;
}

img {
  display: block;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  color: $textColor;
  text-decoration: none;
}

button,
.button {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

/************************
 * @layout styling
 ************************/
.content-skipper {
  background-color: #eee;
  border: solid 1px #000;
  border-radius: 5px;
  color: #000;
  font-size: 0.7em;
  padding: 5px;
  position: absolute;
  z-index: 20000;
  left: -1000px;

  &:focus {
    left: 0px;
  }
}

.container {
  padding: 8px 24px;
}

.row {
  display: flex;
}

.a-t-center {
  align-items: center;
}

.a-c-center {
  align-content: center;
}

.logo-text {
  font-family: 'Rancho', cursive;
}
